@import url('https://fonts.googleapis.com/css2?family=Comic+Neue&family=Share+Tech+Mono&display=swap');
@import 'tailwindcss';

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --Grey-background: hsl(65, 21%, 89%);
  --Card-background: hsl(45, 100%, 94%);
  --Active-monitor-background: hsl(164, 86%, 16%);
  --Font-color-basic: hsl(24, 5%, 18%);
  --Font-color-monitor-active: hsl(152, 76%, 80%);
  --Font-color-monitor-inactive: hsl(152, 0%, 53%);
  --Font-color-error: hsl(8, 40%, 42%);
  font-size: 16px;
}

body {
  font-family: 'Comic Neue', cursive, 'Comic Sans MS', 'Comic Sans', sans-serif;
  background-color: var(--Grey-background);
  color: var(--Font-color-basic);
  margin: 0 auto;
  padding: 0;
  min-height: 100vh;
  max-width: 65rem;
}

.app {
  padding: 1rem;
  position: relative;
}

.device {
  position: relative;
  max-width: 90vw;
  margin: 0 auto;
  text-align: center;
}

.logo {
  width: 20rem;
  height: auto;
}

.character-search {
  font-size: 2rem;
  font-size: clamp(2rem, 7.6vw, 3rem);
  margin: 0;
}

.device {
  position: relative;
  width: 100%;
  max-width: 50rem;
  min-width: 20rem;
  margin: 0 auto;
}

.device-frame {
  position: relative;
  width: 100%;
  display: inline-block;
  max-width: 40rem;
  min-width: 22rem;
}

.device-no-bg {
  width: 100%;
  height: auto;
  display: block;
}

.search-input {
  position: absolute;
  top: 19.8%;
  left: 14.3%;
  width: 66.6%;
  height: 33.8%;
  font-size: clamp(1rem, 3vw, 1.5rem);
  font-family: 'Share Tech Mono', monospace;
  background-color: var(--Grey-background);
  color: var(--Font-color-basic);
  padding: 0.3rem 4% 0.3rem 4%;
  border-radius: clamp(6px, calc(-1.608px + 1.902vw), 13px);
  pointer-events: auto;
  border: none;
}

.search-input::placeholder {
  color: var(--Font-color-monitor-inactive);
  transition:
    color 0.2s ease,
    text-shadow 0.5s ease;
}

.search-input:focus {
  background-color: var(--Active-monitor-background);
  color: var(--Font-color-monitor-active);
  text-shadow: 0 0 1px var(--Font-color-monitor-active);
  outline: none;
}

.search-input:focus::placeholder {
  color: var(--Font-color-monitor-active);
  text-shadow: 0 0 1px var(--Font-color-monitor-active);
}

.search-btn {
  position: absolute;
  top: 58.5%;
  left: 61.4%;
  width: 20%;
  height: 37%;
  background: none;
  border: none;
  background-image: url('/src/assets/search_button.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  pointer-events: auto;
}

.search-btn:hover {
  transform: scale(1.05);
  filter: brightness(1.1);
}

.about-btn {
  position: absolute;
  top: 57.9%;
  left: 83.8%;
  width: 12%;
  height: 35.9%;
  background: none;
  border: none;
  background-image: url('/src/assets/about_button.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  pointer-events: auto;
}

.about-btn:hover {
  transform: scale(1.05);
  filter: brightness(1.1);
}

.result-section {
  margin-block-start: 2rem;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  justify-items: center;
  align-items: center;
}

.character-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--Card-background);
  color: var(--Font-color-basic);
  border: 1px solid #333;
  border-radius: 1rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  height: 15rem;
  width: 9rem;
  margin: 0;
}

.character-image {
  width: 100%;
  border-radius: 1rem 1rem 0 0;
}

.character-description {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
  padding: 0.5rem;
}

.character-name {
  font-size: 1.2rem;
  padding: 0;
  margin: 0;
}

.pagination-container {
  display: flex;
  justify-content: center;
  margin: 2rem auto;
}

.pagination {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}

.pagination * {
  font-family: 'Comic Neue', cursive, 'Comic Sans MS', 'Comic Sans', sans-serif;
  border: none;
  background-color: var(--Grey-background);
  font-size: 1.5rem;
}

button.active:hover {
  font-weight: 700;
  color: var(--Font-color-error);
  cursor: pointer;
}

.no-results-error {
  display: block;
  margin: 2rem auto;
  max-width: 30rem;
  width: 100%;
}

.error-block {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin: 2rem auto;
  text-align: center;
  width: 70%;
}

.general-error-morty,
.general-error-rick {
  max-width: 20rem;
  width: 45%;
}

.general-error {
  font-family: 'Share Tech Mono', monospace;
  font-weight: 700;
  font-size: clamp(1.5rem, 7.6vw, 3rem);
  color: var(--Font-color-error);
  max-width: 100%;
  word-wrap: break-word;
  white-space: normal;
  padding: 1rem;
}

.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 3rem;
  height: 3rem;
  border: 4px solid var(--Font-color-monitor-inactive);
  border-top: 4px solid var(--Active-monitor-background);
  border-radius: 50%;
  animation: spin 0.8s linear infinite;
  z-index: 10;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.blurring {
  filter: blur(4px);
  pointer-events: none;
  opacity: 0.6;
  transition: all 0.2s ease;
}

@media (max-width: 28rem) {
  .character-description {
    gap: 0.3rem;
  }
}
